.page_footer {
  background-color: #F2F2F2;
}

.container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.fooret_items {
  display: flex;
  justify-content: space-between;
}

.logo_footer {
  display: flex;
  justify-content: space-between;
}
.logo_text_footer {
  padding-left: 3px;
}

.p_text_footer {
  border-left: 1px solid #424242;
}
.copyright {

}